---

title: yukicoder
tags: [yukicoder]

---

<h2>yukicoder</h2>
<ul>
    <% tags["yukicoder"].pages.sort_by{|page|
        #page.metadata[:id]
        page.url }.each_with_index do |page, i| %>
        <% title = page.metadata[:title] %>
        <% title ||= page.data.title %>
        <% title ||= page.url %>
        <li><%= link_to title, page.url %> </li>
    <% end %>
</ul>
