---

title: TopCoder
tags: [TopCoder]

---

<h2>TopCoder</h2>
<ul>
    <% tags["TopCoder"].pages.sort_by{|page| page.metadata[:id] }.each_with_index do |page, i| %>
        <% title = page.metadata[:title] %>
        <% title ||= page.data.title %>
        <% title ||= page.url %>
        <li><%= link_to title, page.url %> </li>
    <% end %>
</ul>
