---

title: TopCoder
tags: [TopCoder]
build_twice: true

---

<h1>TopCoder</h1>

<ul>
  <% tags["TopCoder"].pages.sort_by{|resource| resource.metadata[:id] || -1 }.each do |resource| %>
    <li><%= link_to get_title(resource), resource %> </li>
  <% end %>
</ul>
