[submodule "MiSawa.github.io"]
	path = MiSawa.github.io
	url = https://MiSawa@github.com/MiSawa/MiSawa.github.io.git
[submodule "source/stylesheets/zurui-sass"]
	path = source/stylesheets/zurui-sass
	url = https://github.com/mahm/zurui-sass.git
