@import 'all_bck';
// $mq-show-breakpoints: (mobile, tablet, desktop);
@import '_mq';
@import 'katex';

body {
    margin: auto;
    max-width: 1500px;
    padding-bottom: 2em;
}

nav ul {
    margin-left: 1em;
    margin-right: 1em;
    padding: 0;
    list-style: none;
    border: 1px solid;
    @include mq($from: tablet) {
        display: flex;
    }
}
nav li {
    @include mq($from: tablet) {
        flex: 1;
    }
}
nav a:link, nav a:visited {
    border: 1px solid;
    text-decoration: none;
    display: block;
    padding: 10px;
    color: #333;
    font-weight: bold;
    text-align: center;
}

main {
    @include mq($until: tablet) {
        margin-left: 2em;
        margin-right: 1em;
    }
    @include mq($from: tablet) {
        margin-left: 3em;
        margin-right: 3em;
    }
}

// Undo what normalize.css does
// to get the triangle back
summary {
    display: revert;
}

h1 {
    text-align: center;
}
h2 {
    margin-top: 1.5em;
    margin-left: -1em;
}
ul {
    padding-left: 1em;
}

div.tag {
    a {
        color: #222;
        margin: 3px;
        text-decoration: none;
    };
    background-color: #BBB;
    margin: 3px;
    padding: 3px;
    max-width: 100%;
    display: inline-block;
    border: 1.5px inset;
}

div.footnotes {
    margin-top: 3em;
    border-top: 1px solid #888;
    font-size: 95%;
    p {
        margin: 0.5em;
    }
}

.fold-plus {
    font-weight: bold;
}

div.highlight {
    margin: 10px;
}
code>table {
    th,td {
        padding-left: 10px;
        padding-right: 10px;
        border-left: 1px solid #000;
    }
}

div.indent {
    padding-left: 1em;
}

:not(code)>table {
    th,td {
        padding-left: 10px;
        padding-right: 10px;
        border: 1px solid #000;
    }
}

.social_button_box {
    display: none;
    position: absolute;
    top: 1em;
    right: 2em;
    .social_button {
        vertical-align: middle;
        padding: 2px;
        .hatena-star-add-button {
            background-color: #FAFAFA;
        }
    }
}

