div.highlight {
    margin: 0.8em;
    overflow-x: auto;
    >pre {
        margin-top: 0;
        margin-bottom: 0;
    }
}
code>table.rouge-table {
    th,td {
        padding-left: 0.5em;
        padding-right: 0.5em;
        border-left: 1px solid #000;
    }
    pre {
        white-space: pre;
    }
}
