<% problem = current_resource.data.problem %>
<% url = problem.url || "http://judge.u-aizu.ac.jp/onlinejudge/description.jsp?id=" + problem.id.to_s %>
<% current_resource.add_metadata(
    title: "AOJ " + problem.id.to_s + " " + problem.name
) %>
<% current_resource.add_metadata(
    header: (javascript_include_tag 'foldh3')
) %>

<% wrap_layout :outer do %>
  <h1> <%= current_resource.metadata[:title] %> </h1>
  <%= link_to "問題文", url %>
  <%= yield %>
  <% if current_resource.data.source_code %>
    <%= link_to 'download source code', current_resource.data.source_code %>
  <% end %>
<% end %>
