---

title: Tags
build_twice: true

---

<h1>Tags</h1>
<ul>
  <% tags.sort_by{|tagname, tag| tagname}.each do |tagname, tag| %>
    <li><%= link_to "#{tagname} (#{tag.size})", tag.url %></li>
  <% end %>
</ul>
