<% build_twice %>
<% current_resource.add_metadata( title: "Tag " + tagname ) %>

<h1>Pages tagged by '<%= tagname %>'</h1>

<ul>
  <% pages.sort_by{|resource| get_title(resource)}.each do |resource| %>
    <li> <%= link_to get_title(resource), resource %> </li>
  <% end %>
</ul>

